<div class="categoria-box" *ngIf="categoria">
	<div id="categoria-head-card">
		<div class="image">
			<img src="{{ url + 'get-image-categoria/' + categoria.image }}" />
		</div>
		<div class="data">
			<h1>{{categoria.title}}</h1>
			<p><strong>{{categoria.evento.name}}</strong></p>
			<p>{{categoria.year}}</p>
			<p>{{categoria.description}}</p>

			<a [routerLink]="['/crear-tema', categoria._id]" class="btn btn-default" *ngIf="identity.role == 'ROLE_ADMIN'">
				Añadir canción
			</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="gallery-productos" *ngIf="productos">
		<ul id="productos-list">
			<li *ngFor="let producto of productos" class="producto-item">
				<div class="title">
					<a class="btn btn-success" (click)="startPlayer(producto)">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
					</a>

					{{producto.number + '. '+ producto.name + ' - '+ producto.duration}}

					<div class="buttons" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
						<a [routerLink]="['/editar-tema', producto._id]" class="btn btn-warning">
							Editar
						</a>

						<a (click)="onDeleteConfirm(producto._id)" class="btn btn-danger">
							Borrar
						</a>
					</div>

					<div class="seguro seguro-producto" *ngIf="confirmado == producto._id">
						<a (click)="onDeleteProducto(producto._id)" class="btn btn-danger">
							Eliminar
						</a>
						<a (click)="onCancelProducto()" class="btn btn-primary">
							Cancelar
						</a>
					</div>

					<div class="clearfix"></div>
				</div>
			</li>
		</ul>
	</div>
</div>
