<div class="head-page">
	<h1>{{titulo}}</h1>

	<a [routerLink]="['/crear-evento']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
		Añadir evento
	</a>

	<ul class="pagination pull-right">
		<li><a [routerLink]="['/eventos', prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/eventos', next_page]">&raquo;</a></li>
	</ul>
</div>

<div class="clearfix"></div>
<ul class="evento-list" *ngIf="identity">
	<li *ngFor="let evento of eventos" class="col-lg-3 evento-item">
		<div class="evento-image">
			<img src="{{ url + 'get-image-evento/' + evento.image }}"/>
		</div>
		<div class="evento-name">
			<a [routerLink]="['/evento', evento._id]">
				{{evento.name}}
			</a>

			<div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
				<a [routerLink]="['/editar-evento', evento._id]" class="btn btn-sm btn-warning">Editar</a>
				<a (click)="onDeleteConfirm(evento._id)" class="btn btn-sm btn-danger">
					Borrar
				</a>
			</div>

			<div class="seguro" *ngIf="confirmado == evento._id">
				<a (click)="onDeleteEvento(evento._id)" class="btn btn-sm btn-danger">
					Eliminar
				</a>
				<a (click)="onCancelEvento()" class="btn btn-sm btn-primary">
					Cancelar
				</a>
			</div>
		</div>
	</li>
</ul>
